* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav bar */
nav {
  color: black;
}

nav img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.navbar a {
  color: rgb(0, 0, 0);
  font-size: 25px;
  flex: center;
  font-family: "Yellowtail", cursive;
}

.nav-link:hover {
  background-color: black;
  color: rgba(228, 0, 0, 0.884);
}

body {
  font-family: "Yellowtail", cursive;
}

/* foother */
.footer-pag {
  width: 100%;
  background-color: rgb(53, 53, 53);
  align-self: flex-end;
  width: 100%;
  height: 100%;
}

.footer-pag .group-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.footer-pag .group-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-pag .group-1 .box figure img {
  width: 150px;
  background-color: white;
  border-radius: 50%;
}

.footer-pag .group-1 .box h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 25px;
}

.footer-pag .group-1 .box p {
  color: white;
  margin-bottom: 10px;
}

.footer-pag .group-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  background-color: rgb(34, 34, 36);
  text-align: center;
  transition: all 300ms ease;
}

.footer-pag .group-1 .red-social a:hover {
  color: red;
}

.footer-pag .group-2 {
  background-color: rgb(43, 43, 43);
  padding: 15px 10px;
  text-align: center;
  color: white;
}

.footer-pag .group-2 small {
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media screen and (max-width: 800px) {
  .footer-pag .group-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
/*banner*/
.banner2 {
  background-image: linear-gradient(100deg, #000000, rgba(0, 0, 0, 0.1254901961)), url("./imagenes/img9banner2.jpg");
  height: 60rem;
  background-size: cover;
  background-position: center;
}

.content-banner {
  max-width: 90rem;
  margin: 0 auto;
  padding: 25rem 0;
}

.content-banner p {
  color: #da7e3a;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.content-banner h2 {
  color: #fff;
  font-size: 8rem;
  font-weight: 500;
  line-height: 1.2;
  text-shadow: 1px 1px #cc3300;
}

.content-banner a {
  margin-top: 2rem;
  text-decoration: none;
  color: #fff;
  background-color: #da7e3a;
  display: inline-block;
  padding: 1rem 3rem;
  text-transform: uppercase;
  border-radius: 3rem;
}

@media (max-width: 768px) {
  .content-banner {
    max-width: 50rem;
    margin: 0 auto;
    padding: 25rem 0;
  }
  .content-banner h2 {
    font-size: 6rem;
    color: #fff;
    text-shadow: 1px 1px #cc3300;
  }
}
@media (max-width: 468px) {
  .content-banner {
    max-width: 50rem;
    padding: 22rem 0;
  }
  .content-banner h2 {
    font-size: 2rem;
    color: #fff;
    text-shadow: 1px 1px #cc3300;
  }
}
/* content */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .content div img {
  width: 100px;
  height: 100px;
  padding: 10px;
  align-items: center;
}
.content p {
  align-items: center;
  width: 870px;
  text-align: center;
  padding: 15px;
  font-size: 20px;
}
.content .text4 {
  font-size: 25px;
  font-weight: 600;
}

@media (min-width: 320px) and (max-width: 879px) {
  .content p {
    align-items: center;
    text-align: center;
    width: fit-content;
  }
}
/* Top Products*/
.top-products {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

.container-options {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.container-options span {
  color: #da7e3a;
  background-color: #fff;
  padding: 0.7rem 3rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  border-radius: 2rem;
  cursor: pointer;
}

.container-options span:hover {
  background-color: #000;
  color: #fff;
}

.container-options span.active {
  background-color: #000;
  color: #fff;
}

/* Products */
.container-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
}

.card-product {
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.container-img {
  position: relative;
}

.container-img img {
  width: 100%;
}

.container-img .discount {
  position: absolute;
  left: 0;
  background-color: var(--primary-color);
  color: #fff;
  padding: 2px 1.2rem;
  border-radius: 1rem;
  font-size: 1.2rem;
}

.card-product:hover .discount {
  background-color: #000;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 0;
  right: -3rem;
  z-index: -1;
  transition: all 0.4s ease;
}

.button-group span {
  border: 1px solid var(--primary-color);
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease;
}

.button-group span:hover {
  background-color: var(--primary-color);
}

.button-group span i {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.button-group span:hover i {
  color: #fff;
}

.card-product:hover .button-group {
  z-index: 0;
  right: -1rem;
}

.content-card-product {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, min-content);
  row-gap: 1rem;
}

.stars {
  grid-row: 1/2;
  grid-column: 1/-1;
}

.stars i {
  font-size: 1.3rem;
  color: var(--primary-color);
}

.content-card-product h3 {
  grid-row: 2/3;
  grid-column: 1/-1;
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.content-card-product h3:hover {
  color: var(--primary-color);
}

.add-cart {
  justify-self: start;
  border: 2px solid var(--primary-color);
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-cart:hover {
  background-color: var(--primary-color);
}

.add-cart i {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.add-cart:hover i {
  color: #fff;
}

.content-card-product .price {
  justify-self: end;
  align-self: center;
  font-size: 1.7rem;
  font-weight: 600;
}

.content-card-product .price span {
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: line-through;
  color: #777;
  margin-left: 0.5rem;
}

/*carousel*/
.carousel-inner p {
  font-size: 25px;
}
.carousel-inner h5 {
  font-size: 35px;
}

.carousel-item {
  width: 100%;
  height: 500px;
}

.carousel-item img {
  width: 300px;
  height: 100%;
  object-fit: cover;
}

/*banner*/
.banner2 {
  background-image: linear-gradient(100deg, #000000, rgba(0, 0, 0, 0.1254901961)), url("./imagenes/img9banner2.jpg");
  height: 60rem;
  background-size: cover;
  background-position: center;
}

.content-banner {
  max-width: 90rem;
  margin: 0 auto;
  padding: 25rem 0;
}

.content-banner p {
  color: #da7e3a;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.content-banner h2 {
  color: #fff;
  font-size: 8rem;
  font-weight: 500;
  line-height: 1.2;
  text-shadow: 1px 1px #cc3300;
}

.content-banner a {
  margin-top: 2rem;
  text-decoration: none;
  color: #fff;
  background-color: #da7e3a;
  display: inline-block;
  padding: 1rem 3rem;
  text-transform: uppercase;
  border-radius: 3rem;
}

@media (max-width: 768px) {
  .content-banner {
    max-width: 50rem;
    margin: 0 auto;
    padding: 25rem 0;
  }
  .content-banner h2 {
    font-size: 6rem;
    color: #fff;
    text-shadow: 1px 1px #cc3300;
  }
}
@media (max-width: 468px) {
  .content-banner {
    max-width: 50rem;
    padding: 22rem 0;
  }
  .content-banner h2 {
    font-size: 2rem;
    color: #fff;
    text-shadow: 1px 1px #cc3300;
  }
}
/* content */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content div img {
  width: 100px;
  height: 100px;
  padding: 10px;
  align-items: center;
}

.content p {
  align-items: center;
  width: 870px;
  text-align: center;
  padding: 15px;
}

.text4 {
  font-size: 25px;
  font-weight: 600;
}

@media (min-width: 320px) and (max-width: 879px) {
  .content p {
    align-items: center;
    text-align: center;
    width: fit-content;
  }
}
/* about uss galery */
.row {
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
}

.row img {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 650px;
}

.row div {
  flex: 30%;
  padding: 10px;
}

@media (max-width: 800px) {
  .row div {
    flex: 50%;
  }
}
@media (max-width: 500px) {
  .row div {
    flex: 100%;
  }
}
/*banner*/
.banner2 {
  background-image: linear-gradient(100deg, #000000, rgba(0, 0, 0, 0.1254901961)), url("../imagenes/imgbannermenu.jpg");
  height: 60rem;
  background-size: cover;
  background-position: center;
}

.content-banner {
  max-width: 90rem;
  margin: 0 auto;
  padding: 25rem 0;
}

.content-banner p {
  color: #da7e3a;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.content-banner h2 {
  color: #fff;
  font-size: 8rem;
  font-weight: 500;
  line-height: 1.2;
  text-shadow: 1px 1px #cc3300;
}

.content-banner a {
  margin-top: 2rem;
  text-decoration: none;
  color: #fff;
  background-color: #da7e3a;
  display: inline-block;
  padding: 1rem 3rem;
  text-transform: uppercase;
  border-radius: 3rem;
}

/*Menu*/
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: 40px;
}

.menu h2 {
  font-size: 60px;
}

.product-card {
  border-radius: 15px;
  background-color: #da7e3a;
  transition: 0.5s;
  overflow-x: hidden;
}

.product-card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  transition: 0.5s;
  border-radius: 30px;
}

.product-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  transition: 0.5s;
}

.btn-pink {
  border: 1px solid #000;
  border-radius: 20px;
  font-size: 30px;
}

.btn-pink:hover {
  background-color: #000;
  color: #cc3300;
}

.product-card:hover {
  background-color: #cc3300;
  box-shadow: 5px 5px 5px rgba(40, 189, 3, 0.788);
  border: 1px solid #000;
}

.product-card:hover img {
  width: 700px;
}

.card-title {
  font-size: 45px;
}

.card-text {
  padding: 15px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

@media (max-width: 768px) {
  .content-banner {
    max-width: 50rem;
    margin: 0 auto;
    padding: 25rem 0;
  }
  .content-banner h2 {
    font-size: 6rem;
    color: #fff;
    text-shadow: 1px 1px #cc3300;
  }
}
@media (max-width: 468px) {
  .content-banner {
    max-width: 50rem;
    padding: 22rem 0;
  }
  .content-banner h2 {
    font-size: 2rem;
    color: #fff;
    text-shadow: 1px 1px #cc3300;
  }
}

/*# sourceMappingURL=style.css.map */
