@mixin flex($direction, $align, $justify, $gap) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
  }
@mixin img($width, $height) {
    width: $width;
    height: $height;
    object-fit: cover;
  }

  @mixin tablet {
    @media screen and (max-width: 950px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 576px) {
        @content;
    }
}